
<h1>Creating posts</h1>

<table>
  <thead>
    <tr>
      <th>Título</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
  <%= link_to "Create New Post" , new_post_path %>
    <% @posts.each do |post| %>
      <tr id="post_<%= post.id %>">
      <td><%= post.id %></td>
        <td><%= post.title %></td>
        <td>
          <%= link_to 'Show Postr', post %>
          <%= link_to 'Edit Post', edit_post_path(post) %>
          <%= link_to 'Eliminar', post_path(post), method: :delete, data: { confirm: '¿Estás seguro?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>