
<h1>Hello Show</h1>
<%= notice %>

   <p>ID: <%= @post.id %> </p>
   <p>Title:<%= @post.title %> </p>
   <p><Description: <%= @post.body %> </p>

   <%= link_to "Edit post", edit_post_path(@post) %>
   <%= link_to "All posts", posts_path %>
   
   